import { render, screen } from '@testing-library/react-native';
import { NavigationContainer } from '@react-navigation/native';
import { createBottomTabNavigator } from '@react-navigation/bottom-tabs';
import HomeScreen from '@/app/(tabs)/index';

const Tab = createBottomTabNavigator();

describe('{{functionInfo.getName()}}', () => {
  it('should render {{functionInfo.getName()}}', () => {
    // Render the HomeScreen component wrapped in the navigator
    const { getByPlaceholderText, getByText, getByTestId } = render(<{{functionInfo.getName()}} />);
    {%for text in functionInfo.getText()%}
    expect(getByText("{{ text | replace('\n', '\\n') }}")).toBeTruthy();
    {%endfor%} {%for image in functionInfo.getImages()%}
    expect(getByTestId({{image}})).toBeTruthy();
    {%endfor%}
  });
});